html
  head
    meta(name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    link(rel="stylesheet" media="all" href="assets/css/style.css")
  body
    .demo
      h1 Let's get started
