// Revenge Creative Colours
$rcGreen: #70b62b; // Revenge Creative Green
$rcPurple: #872965; // Revenge Creative Purple
$rcBlue: #253d96; // Revenge Creative Blue

// Peter Rasmussen Colours
$prR: #CB3333; // Peter Rasmussen Red
$prDG: #333333; // Peter Rasmussen Dark Grey
$prG: #444545; // Peter Rasmussen Grey
$prLG: #BBBBBB; // Peter Rasmussen Light Grey
$prOffWhite: #EEEEEE; // Peter Rasmussen Off White
$prWhite: #FEFEFE; // Peter Rasmussen White

// Fonts
$primary-font: 'Nunito Sans', sans-serif;

// Animation
$animation-duration: .4s;
$animation-delay: .2s;

// Box Shadow
$prBoxShadow: 0 42px 76px 0px rgba($prDG, .21);
$prBoxShadowS: 0 21px 38px 0px rgba($prDG, .21);
$prBoxShadowXS: 0 10px 19px 0px rgba($prDG, .42);

// Overlay
$redOverlay: rgba($prR, .75);
